@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
  }

  body{
      width: 100vw;
  }

  /* Navbar
  --------------- */
nav {
    
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav ul {
    list-style: none;
    display: flex;
}
nav h4 {
    padding: 10px;
}
nav ul li {
    padding: 10px;
}



  /* Main Page */
.containerCartItems {
    max-width:600px;
    margin: auto;
    padding: 120px 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card {
    width: 250px;
    height: fit-content;
    margin: 10px ;
}
.card .imgCont {
    width: 100%;
    height: 80%;
}
.card .imgCont img {
    width:100%;
    height: auto;

}

.card .totalPriceSpan {
    display: block;
    padding: 6px;
    font-weight:bold;
}